{% extends "base.html" %}
{% block content %}

<div class="midiv">
    <div>
        
        <i class="material-icons">domain_add</i><BR>
            <a class="btn-outline-dark">UNIDADES
    </a>
    </div>
    <div>
        <i class="material-icons">bed</i><BR>
            <a class="btn-outline-dark">
        APARTAMENTOS</a>
    </div>
    <div>
        <i class="material-icons">family_restroom</i><BR>
            <a class="btn-outline-dark">HABITANTES</a>
    </div>
    
    *************************************
</div>

{% endblock content %}