{% extends "base.html" %}
{% block content %}
            
                <center>
                    <div class="container w-50 col-4" style="text-align:center">
            <img src="{{url_for('static',filename='images/NOTFOUND.png')}}" width="400px"><br>
                        <h1><font color=red  class="caret-sombra-red"><b>{{ msgito}}</font></h1>
                    </div>
                </center>


                
        <script>
            function Voy(){
            {% if regreso%}
            location.href="{{regreso}}"
            {% else %}
            location.href="/"
            {% endif %}
            }
            setTimeout('Voy()',5000)
        </script>
        {% endblock content %}
