{% extends "base.html" %}
{% block content %}
      <table>
        <td colspan=2 valign="top"><img loading="lazy" class="tabla" src="{{url_for('static',filename='images/sinsonte2.png')}}" style="border:true;width:50px;border-radius: 25px;height:50px;"></td>

      <td><h4 class="sena-sombra">&nbsp;&nbsp;&nbsp;CONDOMINIO* PALMANOVA SINSONTE<br>&nbsp;&nbsp;&nbsp;CALLE 3 #2-111 VILLETA CUNDINAMARCA</h4>
        <h5 class="sena-sombra"><font color=blue>{{usuario}}</font></h5></td></table>
      {% endblock content %}
      
      
      

      
        
    