<!doctype html>
<html>
  <head>
{% block head %}
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/tmenu.css')}}" rel="stylesheet">
<!--<link href="{{url_for('static',filename='css/Estilo.css')}}" rel="stylesheet">-->
<script src="{{url_for('static',filename='js/tmenu.js')}}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="{{url_for('static',filename='js/MiJs.js')}}"></script>
<link rel="icon" type="image/x-icon" href="./static/images/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<TITLE>SISTEMA REGISTRO DE NOVEDADES EN AMBIENTES DE FORMACION</TITLE>
{% endblock %}
  </head>
  <body>


    <div style="overflow:auto">
    {% block content %}
    {% endblock content %}
    <link href="{{url_for('static',filename='css/MiEstilo.css')}}" rel="stylesheet">
 

  </body>
</html>