<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
   <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/favicon.ico')}}">
   
   <HTML>
<HEAD>
  <TITLE>SISTEMA REGISTRO DE NOVEDADES EN AMBIENTES DE FORMACION</TITLE>
</HEAD>
<FRAMESET cols="30%, 70%" frameborder=0 noResize = true frameborder=1>
  <FRAMESET rows="450" >
      <FRAME src="/menu" name=menu>
  </FRAMESET>
<FRAMESET rows="155, 450,130">
      <FRAME src="/banner" name=banner>
      <FRAME src="/centro" name=centro scrolling=yes>
      <FRAME src="/footer" name=footer>
  </FRAMESET>
  
  <NOFRAMES>
      <P>Este conjunto no puede desplegar marcos
   </NOFRAMES>
</FRAMESET>
</HTML>