<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
   <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/favicon.ico')}}">
   
   <HTML>
<HEAD>
  <TITLE>SISTEMA REGISTRO DE NOVEDADES EN AMBIENTES DE FORMACION</TITLE>
</HEAD>
<FRAMESET cols="100%" frameborder=0 noResize = true frameborder=1>
  <FRAMESET rows="100%" >
      <FRAME src="/sinsont">
  </FRAMESET>

  <NOFRAMES>
      <P>Este conjunto no puede desplegar marcos
   </NOFRAMES>
</FRAMESET>
</HTML>