{% extends "base.html" %}
{% block content %}
<center>
    <h2 class="caret-sombra-red">{{msg}}</h2>
    <center>
        
        {%for dato in cadena%}
        <script>
            function Ir(paso){
                let formulario = document.getElementById('mio');
                if(paso==1){
                    respuesta = document.getElementById('respuesta').value;
                    if(respuesta.length>0){
                        document.getElementById('respuesta').value=document.getElementById('respuesta').value+"[PROCESO]"
                    formulario.setAttribute('action','/n/i');  
                    formulario.submit();   
                    }  
                    else{
                        document.getElementById('respuesta').value="NOVEDAD PROCESADA POR EL CUENTADANTE [PROCESO]"
                    formulario.setAttribute('action','/n/i');  
                    formulario.submit();
                    }            
                    }
                
                if(paso==2){
                    respuesta = document.getElementById('respuesta').value;
                    if(respuesta.length>0){
                    document.getElementById('respuesta').value=document.getElementById('respuesta').value+"[CERRADA]"
                    formulario.setAttribute('action','/n/d');
                    formulario.submit();
                    }
                    else
                       //alert("Escriba una respuesta")
                       document.getElementById('respuesta').value="NOVEDAD CERRADA POR EL CUENTADANTE[CERRADA]"
                       formulario.setAttribute('action','/n/d');
                       formulario.submit();
                    }
                
                }
            </script>
                <form class="needs-validation" id=mio method=post action="/n/d" >
            <table class="table table-striped table-bordered border=1 tabla" style="width:60%;-" BORDER=1>
            
            <td>
                    <input type="hidden" name="NOVEDADES" value="{{dato.idNOVEDADES}}">
                    <input type="hidden" name="ESTADO" value="{{dato.ESTADO}}">
                    <input type="hidden" name="AMBIENTE" value="{{dato.idAMBIENTE}}">
                    <input type="hidden" name="CUENTADANTE" value="{{dato.IDCUENTADANTE}}">
                    <input type="hidden" name="DESCRI1" value="{{dato.DESCRIPCION}}">
                
                <label class="form-label">FECHA</label></td><td>{{dato.FECHA}}</td></tr>
            <td><label class="form-label" for="DESCRIPCION">DESCRIPCION</label></td><td >
                <textarea class="form-control" cols=60 rows=4 name=descripcion disabled >{{dato.DESCRIPCION}} </textarea></td></tr> 
            <td><label class="form-label" for="respuesta">RESPUESTA</label></td><td>
                <textarea cols=60 rows=4  id="respuesta" name="respuesta" class="form-control" required></textarea></td></tr> 
            {%endfor%}
            </table><hr>
            <button  onclick="Ir(1)" class="btn btn-outline-primary btn-sm" style="width:20%;" target="centro">
                <i class='fas fa-archive' style='font-size:24px'></i>
                RESPONDER</button>
            <button  onclick="Ir(2)" class="btn btn-outline-danger   btn-sm" style="width:20%;" target="centro">
                <i class='fas fa-business-time' style='font-size:24px'></i>
                    CERRAR LA NOVEDAD</button>
            <a href="/novedada" class="btn btn-outline-warning  btn-sm" style="width:20%;" target="centro">
                <i class='far fa-hand-point-left' style='font-size:24px'></i>
                CANCELAR</a>
            </form>
</div>

 

{%endblock%}
